@media all
{
  *
  {
    font-family:"Sans";
    font-size:1em;
  }

  a, a:hover, a:visited
  {
    text-decoration:none;
    font-weight:bold;
  }

}

@media screen and (max-width: 600px)
{
  /* For mobile */
  #MainMenu
  {
    font-size: 1.5em;
    font-weight: bold;
    border-bottom: 3px solid #FFF;
    margin-bottom:0.5em;
    text-align:center;
  }

  #MainMenu *
  {
    vertical-align:middle;
    text-decoration:none;
    display:block;
  }
  
  #MainContent, .ItemContainer
  {
    text-align:center;
  }

  
  /***********
    Dashboard
  ***********/

  #DashboardTable td
  {
    text-align:center;
    vertical-align:top;
    display:block;
  }

  #DashboardTableTopRow
  {
    height:8em;
  }

  .DashboardTableLeft
  {
    width:70%;
  }

  .DashboardAction
  {
    display:block;
    float:left;
    padding:0.2em;
    width:5em;
    height:5em;
    border: 1px solid;
    font-size:0.8em;
  }

  .DasboardActionIcon
  {
    display:block;
    width:2em;
  }

  #DashboardNewsList, #DashboardArtistSquares
  {
    text-align:left;
  }


  .DetailHeader
  {
    display:block;
    padding-bottom:1.5em;
    text-align:center;
  }

  .DetailImage
  {
    height: 10em;
    border-radius:1em;
  }

  .DetailBox
  {
    display:block;
  }

  .DetailTitle
  {
  /*   margin-bottom:1em; */
    font-size:150%;
    font-weight:bold;
  }

  .TagLine, .TagLine *
  {
    font-size:80%;
  }

  .DetailSubtitle
  {
  /*   margin-top:-1.5em; /* because a DetailTitle is above the DetailSubtitle element! */ */
    margin-bottom:1em;
  }

  .DetailText
  {
    margin-top:1em;
    font-size:100%;
    height:5em;
  }

  .DetailContent
  {
    
  }

  .DetailFooter
  {
    font-size:80%;
  }

  .AlbumContent audio
  {
    width:20em;
  }

  .DownloadLink
  {
    border-radius:0.5em;
    display:block;
    margin-top:0.5em;
    font-size:1.25em;
    font-weight:bold;
    text-decoration:none;
    text-align: center;
    text-decoration: none;
  }

  .DownloadTorrentInfo
  {
    font-size:0.5em;
    margin-top:0em;
  }

  tr.AlbumTrack + tr.AlbumTrack
  {
    border-top:1px solid #FFF;
  }

  .AlbumTrack
  {
    text-align:left;
  }

  .Donation
  {
    border-radius:0.5em;
    margin-left:1em;
    padding-left:0.5em;
    padding-right:0.5em;
    font-size:1em;
    font-weight:bold;
    text-decoration:none;
    text-align: center;
    text-decoration: none;
  }

  .DownloadRow
  {
    text-align:center;
  }

  .TrackArtist, .TrackTitle, .TrackLicense
  {
    padding-right:1em;
  }

  .TrackArtist, .TrackTitle
  {
    min-width:12em;
  }

  .TrackTable
  {
    width:100%;
    display:table-row;
  }

  .TrackPlayback
  {
    float:right;
  }

  .Square
  {
    text-align:center;
    padding-bottom:1em;
    border-radius:1em;
    display:inline-table;
    max-width:10em;
  }

  .SquareImage
  {
    width:8em;
    display:block;
    margin-left:1em;
    margin-right:1em;
    margin-top:0.5em;
    border-radius:0.5em;
  }

  .SquareTitle
  {
    display:block;
    text-decoration:none;
    font-size:1em;
  }

  .SquareTitle:hover, .SquareSubtitle:hover
  {
  /*   text-decoration:underline; */
  }

  .SquareSubtitle
  {
  /*   display:block; */
    text-decoration:none;
    font-size:0.75em;
  }

  .ItemContainer
  {
    display:table;
  }

  .TrackBox, .ItemBox
  {
    float:left;
    border-radius:1em;
    width:90%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding:0.5em;
    height:5em;
    text-align:left;
  }

  .TrackBoxPlayer
  {
    display:block;
    margin:0.5em;
    width:17em;
    height: 1em;
  }

  .TrackBoxAlbumImage, .ItemBoxImage
  {
    height:4em;
    float:left;
    margin-right: 0.5em;
    padding:0.5em;
    border-radius:1em;
  }

  .TrackBoxContent, .ItemBoxContent
  {
    padding-top:0.5em;
  }

  .TrackBoxLine, .ItemBoxLine
  {
  /*   display:block; */
    text-decoration:none;
    font-size:70%;
  }

  .ItemBoxAction
  {
    text-align:center;
    vertical-align:middle;
    font-size:140%;
  }

  .TrackBoxLine:hover, .ItemBoxLine:hover
  {
  /*   text-decoration:underline; */
  }

  .TrackBoxName, .ItemBoxName
  {
    font-weight:bold;
  }

  .TrackBoxLicense , .ItemBoxFooter
  {
    font-size:70%;
  }
}


@media screen and (min-width: 600px)
{
/* For desktop */

  #MainMenu
  {
    font-size: 1.5em;
    font-weight: bold;
    border-bottom: 1px solid #FFF;
    margin-bottom:0.5em;
    height:1.8em;
  }

  #MainMenu *
  {
    vertical-align:middle;
    text-decoration:none;
  }

  #MainMenu > *
  {
    margin-right:2em;
  }

  #MainMenu > a:hover
  {
  /*    text-decoration:underline; */
  }

  #MainContent
  {
  /*   padding-top:2em; */
  }

  #UserLoginButton
  {
    float:right;
  }


  /***********
    Dashboard
  ***********/

  #DashboardTable td
  {
    text-align:center;
    vertical-align:top;
  }

  #DashboardTableTopRow
  {
    height:8em;
  }

  .DashboardTableLeft
  {
    width:70%;
  }

  .DashboardAction
  {
    display:block;
    float:left;
    padding:0.2em;
    width:5em;
    height:5em;
    border: 1px solid;
    font-size:0.8em;
  }

  .DasboardActionIcon
  {
    display:block;
    width:2em;
  }

  #DashboardNewsList, #DashboardArtistSquares
  {
    text-align:left;
  }


  .DetailHeader
  {
    display:block;
    height:10em;
    padding-bottom:1.5em;
  }

  .DetailImage
  {
    margin-right: 2em;
    height: 10em;
    border-radius:1em;
    float:left;
  }

  .DetailBox
  {
    height:10em;
  }

  .DetailTitle
  {
  /*   margin-bottom:1em; */
    font-size:150%;
    font-weight:bold;
  }

  .TagLine, .TagLine *
  {
    font-size:80%;
  }

  .DetailSubtitle
  {
  /*   margin-top:-1.5em; /* because a DetailTitle is above the DetailSubtitle element! */ */
    margin-bottom:1em;
  }

  .DetailText
  {
    margin-top:1em;
    font-size:100%;
    height:5em;
  }

  .DetailContent
  {
    
  }

  .DetailFooter
  {
    font-size:80%;
  }

  .AlbumContent audio
  {
    width:20em;
  }

  .DownloadLink
  {
    border-radius:0.5em;
    display:block;
    margin-top:0.5em;
    font-size:1.25em;
    font-weight:bold;
    text-decoration:none;
    text-align: center;
    text-decoration: none;
  }

  .DownloadTorrentInfo
  {
    font-size:0.5em;
    margin-top:0em;
  }

  tr.AlbumTrack + tr.AlbumTrack
  {
    border-top:1px solid #FFF;
  }

  .AlbumTrack
  {
    text-align:left;
  }

  .Donation
  {
    border-radius:0.5em;
    margin-left:1em;
    padding-left:0.5em;
    padding-right:0.5em;
    font-size:1em;
    font-weight:bold;
    text-decoration:none;
    text-align: center;
    text-decoration: none;
  }

  .DownloadRow
  {
    text-align:center;
  }

  .TrackArtist, .TrackTitle, .TrackLicense
  {
    padding-right:1em;
  }

  .TrackArtist, .TrackTitle
  {
    min-width:12em;
  }

  .TrackTable
  {
    width:100%;
    display:table-row;
  }

  .TrackPlayback
  {
    float:right;
  }

  .Square
  {
    text-align:center;
    padding-bottom:1em;
    border-radius:1em;
    display:inline-table;
    max-width:10em;
  }

  .SquareImage
  {
    width:8em;
    display:block;
    margin-left:1em;
    margin-right:1em;
    margin-top:0.5em;
    border-radius:0.5em;
  }

  .SquareTitle
  {
    display:block;
    text-decoration:none;
    font-size:1em;
  }

  .SquareTitle:hover, .SquareSubtitle:hover
  {
  /*   text-decoration:underline; */
  }

  .SquareSubtitle
  {
  /*   display:block; */
    text-decoration:none;
    font-size:0.75em;
  }

  .ItemContainer
  {
    display:table;
  }

  .TrackBox, .ItemBox
  {
    float:left;
    border-radius:1em;
    width:25em;
    margin: 0.5em;
    padding:0.5em;
    height:7em;
  }

  .TrackBoxPlayer
  {
    display:block;
    margin:0.5em;
    width:17em;
    height: 1em;
  }

  .TrackBoxAlbumImage, .ItemBoxImage
  {
    height:6em;
    float:left;
    margin-right: 0.5em;
    padding:0.5em;
    border-radius:1em;
  }

  .TrackBoxContent, .ItemBoxContent
  {
    padding-top:0.5em;
  }

  .TrackBoxLine, .ItemBoxLine
  {
  /*   display:block; */
    text-decoration:none;
  }

  .ItemBoxAction
  {
    height:5em;
    text-align:center;
    vertical-align:middle;
    font-size:140%;
  }

  .TrackBoxLine:hover, .ItemBoxLine:hover
  {
  /*   text-decoration:underline; */
  }

  .TrackBoxName, .ItemBoxName
  {
    font-weight:bold;
  }

  .TrackBoxLicense , .ItemBoxFooter
  {
    font-size:90%;
  }
}