
*
{
  color:#fff;
  background-color:#222;
}

.Square, .Square *, .TrackBox, .TrackBox *, .ItemBox, .ItemBox *
{
  background-color:#888;
}

.DownloadLink
{
  background-color:#A0A;
}

.Donation
{
  background-color:#00A;
}

a, a:hover, a:visited
{
  color: #cef;
}

a:hover
{
  text-shadow: 0em 0em 0.2em #cef;
}

.Disabled
{
  background-color:#888;
}