{% extends "cctorrent/base.html" %}
{% load CCTorrentFilters %}
{% comment %}
   This file is part of cctorrent
   Copyright (C) 2014-2015 Moritz Strohm <ncc1988@posteo.de>

   This program is free software: you can redistribute it and/or modify
   it under the terms of the GNU Affero General Public License as
   published by the Free Software Foundation, either version 3 of the
   License, or (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU Affero General Public License for more details.

   You should have received a copy of the GNU Affero General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% block title %}{{album.name}} by {{album.artist.name}}{% endblock %}
{% block content %}
{% if album %}
  <div class="DetailHeader">
    <img class="DetailImage" src="{{ CCTORRENT_FILEURL }}album/{{album|GetAlbumDirName}}/cover.jpg"></img>
    <div class="DetailBox">
      <div class="DetailTitle">{{album.name}}</div>
      <table class="DetailTable">
        <tr>
          <td>Arranged by:</td>
          <td>
            <a href="{%url 'artist' album.artist.id%}">{{album.artist.name}}{% if loggedinUser.id == album.artist.user.id %} (you){% endif %}</a>
            <a class="Donation" href="./donate">Make donation</a>
          </td>
        </tr>
        <tr>
          <td>Release date:</td>
          <td>{{album.pub_date}}</td>
        </tr>
        <tr>
          <td>License:</td>
          <td>{{album.license.short_name}}</td>
        </tr>
        <tr class="TagLine">
          <td colspan="2">
          &nbsp;
          {% for t in album.tags.all %}
          <a href="{%url 'tagsearch' t %}">#{{t}}</a> 
          {% endfor %}
          </td>
        </tr>
        <tr>
          <td class="DownloadRow" colspan="2">
            {% if album.finished %}
            <a class="DownloadLink" href="{{ CCTORRENT_FILEURL }}album/{{album|GetAlbumDirName}}.torrent">Download album</a>
            <a class="DownloadTorrentInfo" href="{%url 'TorrentClients' %}">You need a BitTorrent client to download this album!</a>
            {% else %}
              {% if authenticated %}{% if loggedinUser.id == album.artist.user.id %}
              <div class="DownloadSubtitle">Note: The album has to be finished before it can be downloaded via the BitTorrent network</div>
              <a class="DownloadLink" href="{% url 'finishAlbum' album.id %}">Finish album</div>
              {% else %}
              <div class="DownloadSubtitle">The user <a href="{% url 'user' album.artist.user.id %}">{{album.artist.user}}</a> has not finished this album yet. Thus it is not yet available via BitTorrent.</div>
              {% endif %}{% endif %}
            {% endif %}
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="DetailContent">
    <table class="TrackTable">
      <tr class="AlbumTrack">
        <th class="TrackArtist">Artist</th>
        <th class="TrackTitle">Title</th>
        <th class="TrackLicense">License</th>
        <th colspan="2" class="TrackPlayback"></th>
      </tr>
      {% for track in album.track_set.all %}
      <tr>
        <td class="TrackArtist">
          <a href="{%url 'artist' track.artist.id%}">{{track.artist.name}}</a>
        </td>
        <td class="TrackTitle">
          <a href="{%url 'track' track.id%}">{{track.name}}</a>
        </td>
        <td class="TrackLicense">
          <a href="{{track.license.url}}" target="_blank">{{track.license.short_name}}</a>
        </td>
        {% if track.uploadedFile.converted %}
        <td>
          <a href="{{CCTORRENT_FILEURL }}album/{{album|GetAlbumDirName}}/{{track|GetTrackFileName}}.ogg">download</a>
        </td>
        <td class="TrackPlayback">
          <audio src="{{ CCTORRENT_FILEURL }}album/{{album|GetAlbumDirName}}/{{track|GetTrackFileName}}.ogg" controls="controls" />
        </td>
        {% else %}
          {% if track.uploadedFile.uploaded %}
        <td colspan="2">
          The track is uploaded but not yet converted. Please wait a few minutes and try again.
        </td>
          {% else %}
        <td colspan="2">
          The track was not uploaded successfully. Something went wrong :(
        </td>
          {% endif %}
        {% endif %}
      </tr>
      {% endfor %}
    </table>
    {% if authenticated %}{% if loggedinUser.id == album.artist.user.id %}
    <a href="{%url 'newtrack' album.id%}">Add a new track to this album</a>
    {% endif %}{% endif %}
  </div>
  {%endif%}
{% endblock %}