{% extends "cctorrent/base.html" %}
{% load CCTorrentFilters %}

{% comment %}
   This file is part of cctorrent
   Copyright (C) 2014-2015 Moritz Strohm <ncc1988@posteo.de>

   This program is free software: you can redistribute it and/or modify
   it under the terms of the GNU Affero General Public License as
   published by the Free Software Foundation, either version 3 of the
   License, or (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU Affero General Public License for more details.

   You should have received a copy of the GNU Affero General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% block title %}{{artist.name}}{% endblock %}
{% block content %}
{% if artist %}
  <div class="DetailHeader">
    <img class="DetailImage" src="{{CCTORRENT_FILEURL}}artist/{{artist.id}}/picture.jpg" />
    <div class="DetailBox">
      <div class="DetailTitle">{{artist.name}}</div>
      <div class="DetailSubtitle">
        {% if loggedinUser.id == artist.user.id %}
        (you manage this artist)
        {% else %}
        (managed by user {{artist.user.username}})
        {%endif%}
      </div>
      <div class="DetailText">{{artist.description}}</div>
      <div class="DetailFooter">
        {% for t in artist.tags.all %}
        <a href="{% url 'tagsearch' t.name %}">#{{t.name}}</a> 
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="DetailContent">
    {% if loggedinUser.id != artist.user.id %}
      <h4>Albums of artist {{artist.name}}</h4>
    {% else %}
      <h4>Albums of your artist {{artist.name}}</h4>
    {% endif %}
    {% if albums %}
      {% for album in artist.album_set.all %}
      <div class="ItemBox">
        <a href="{% url 'album' album.id %}"><img class="ItemBoxImage" src="{{CCTORRENT_FILEURL}}album/{{album.id}}/cover.jpg" /></a>
        <div class="ItemBoxContent">
          <div><a class="ItemBoxLine ItemBoxName" href="{%url 'album' album.id %}">{{album.name}}</a></div>
          <div>by <a class="ItemBoxLine" href="{%url 'artist' album.artist.id %}">{{album.artist.name}}</a></div>
          <div class="ItemBoxLine">{{ album|GetAlbumTracks }} track(s)</div>
          <div><a class="ItemBoxLine" href="{{album.license.url}}" target="_blank">({{album.license.short_name}})</a></div>
          <div class="ItemBoxFooter">
          {% for t in album.tags.all %}
            <a href="{% url 'tagsearch' t.name %}">#{{t.name}}</a>
          {% endfor %}
          </div>
        </div>
      </div>
      <!--
      <div class="Square">
        <a href="{% url 'album' album.id %}">
          <img class="SquareImage" src="{{CCTORRENT_FILEURL}}album/{{album.id}}/cover.jpg" alt="{{album.name}}" />
        </a>
        <a href="{%url 'album' album.id %}" class="SquareTitle">{{album.name}}</a>
      </div>
      -->
      {% endfor %}
    {% else %}
      <div>This artist has not yet published any albums!</div>
    {% endif %}
    {% if loggedinUser.id == artist.user.id %}
      <div class="ItemBox">
        <a href="{% url 'newalbum' artist.id %}">
          <div class="ItemBoxAction">
            Create new album
          </div>
        </a>
      </div>
    {% endif %}
    </div>
{%endif%}
{% endblock %}