{% extends "cctorrent/base.html" %}

{% comment %}
   This file is part of cctorrent
   Copyright (C) 2014-2015 Moritz Strohm <ncc1988@posteo.de>

   This program is free software: you can redistribute it and/or modify
   it under the terms of the GNU Affero General Public License as
   published by the Free Software Foundation, either version 3 of the
   License, or (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU Affero General Public License for more details.

   You should have received a copy of the GNU Affero General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% block title %}{{loggedinUser.username}}{% endblock %}
{% block content %}
{% if loggedinUser %}
  <!--<h2>Dashboard of {{loggedinUser.username}}<h2>-->
  <table id="DashboardTable" style="width:95%; height:70%;">
    <tr style="height:1.5em;vertical-align:middle;text-align:center;font-weight:bold;">
      <td colspan="2">
      {% if Notification %}{{Notification}}{% endif %}
      </td>
    </tr>
    <tr id="DashboardTableTopRow">
      <td class="DashboardTableLeft">
        <h3>News</h3>
        <!-- STUB -->
        <ul id="DashboardNewsList">
          <li><span class="NewsDate">2015-01-01:</span> <span><a href="{% url 'user' 1 %}">Moéééé</a> commented on your album <a href="{% url 'album' 1 %}">Test</a></span></li>
          <li><span class="NewsDate">2014-12-08:</span> <span><a href="{% url 'user' 2 %}">Guybrush</a> started following you</span>
          <li><span class="NewsDate">2014-11-11:</span> <span><a href="{% url 'user' 3 %}">Lisa</a> started following you</span>
          <li><span class="NewsDate">2014-08-05:</span> <span><a href="{% url 'user' 2 %}">Guybrush</a> stopped following you</span>
          <li><span class="NewsDate">2014-08-01:</span> <span>Your album <a href="{% url 'album' 1 %}">Test</a> was released!</span>
        </ul>
      </td>
      <td>
        <h3>Your actions</h3>
        <a class="DashboardAction" href="{% url 'newartist' loggedinUser.id %}">
          <img class="DashboardActionIcon" src="/static/cctorrent/icons/NewArtist.png" />
          <div>New artist</div>
        </a>
        <a class="DashboardAction" href="{% url 'importJamendo' %}">
          <img class="DashboardActionIcon" src="/static/cctorrent/icons/Upload.png" />
          <div>Import Jamendo</div>
        </a>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <h3>Your artists</h3>
        {% if loggedinUser.artist_set.all %}
	  <div id="DashboardArtistSquares">
          {% for artist in loggedinUser.artist_set.all %}
	    <div class="Square">
	      <a href="{% url 'artist' artist.id %}">
		<img class="SquareImage" src="{{CCTORRENT_FILEURL}}artist/{{artist.id}}/picture.jpg"/>
	      </a>
	      <a class="SquareTitle" href="{%url 'artist' artist.id%}">{{artist.name}}</a>
	    </div>        
          {% endfor %}
          </div>
        {% else %}
        <p>You haven't created any artist!</p>
        {% endif %}
      </td>
    </tr>
  </table>
{%endif%}
{% endblock %}