{% extends "cctorrent/base.html" %}
{% load CCTorrentFilters %}
{% comment %}
   This file is part of cctorrent
   Copyright (C) 2014-2015 Moritz Strohm <ncc1988@posteo.de>

   This program is free software: you can redistribute it and/or modify
   it under the terms of the GNU Affero General Public License as
   published by the Free Software Foundation, either version 3 of the
   License, or (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU Affero General Public License for more details.

   You should have received a copy of the GNU Affero General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% block title %}
{% if tagSearch == False %}
CCTorrent: Search
{% else %}
CCTorrent: Tag search
{% endif %}
{% endblock %}
{% block content %}
{% if tagSearch == False %}
<h2>Search</h2>
<form action="{% url 'search' %}" method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Search"/>
  <p>Search help: Place the Hash-Sign (#) in front of a word to search for a tag. Example: #cctorrent</p>
</form>
{% else %}
<h2>Results for #{{tag}}</h2>
{% endif %}
{% if artistResults %}
<h3>Artists found:</h3>
<div class="ItemContainer">
{% for a in artistResults %}
<div class="ItemBox">
  <img class="ItemBoxImage" src="{{CCTORRENT_FILEURL}}artist/{{a.id}}/picture.jpg" />
  <div class="ItemBoxContent">
    <div><a class="ItemBoxLine ItemBoxName" href="{%url 'artist' a.id %}">{{a.name}}</a></div>
    <div class="ItemBoxLine">{{ a|GetArtistAlbums }} album(s), {{ a|GetArtistTracks }} track(s)</div>
    <div style="height:3em">&nbsp;</div>
    <div class="ItemBoxFooter">
    {% for t in a.tags.all %}
      <a href="{% url 'tagsearch' t.name %}">#{{t.name}}</a>
    {% endfor %}
    </div>
  </div>
</div>
{% endfor %}
</div>
{% endif %}
{% if albumResults %}
<h3>Albums found:</h3>
<div class="ItemContainer">
{% for a in albumResults %}
<div class="ItemBox">
  <a href="{% url 'album' a.id %}"><img class="ItemBoxImage" src="{{CCTORRENT_FILEURL}}album/{{a.artist.name}} - {{a.name}}/cover.jpg" /></a>
  <div class="ItemBoxContent">
    <div><a class="ItemBoxLine ItemBoxName" href="{%url 'album' a.id %}">{{a.name}}</a></div>
    <div>by <a class="ItemBoxLine" href="{%url 'artist' a.artist.id %}">{{a.artist.name}}</a></div>
    <div class="ItemBoxLine">{{ a|GetAlbumTracks }} track(s)</div>
    <div><a class="ItemBoxLine" href="{{t.license.url}}" target="_blank">({{a.license.short_name}})</a></div>
    <div class="ItemBoxLine">&nbsp;</div>
    <div class="ItemBoxFooter">
    {% for t in a.tags.all %}
      <a href="{% url 'tagsearch' t.name %}">#{{t.name}}</a>
    {% endfor %}
    </div>
  </div>
</div>
{% endfor %}
</div>
{% endif %}
{% if trackResults %}
<h3>Tracks found:</h3>
<div class="ItemContainer">
{% for t in trackResults %}
<div class="ItemBox">
  <img class="ItemBoxImage" src="{{CCTORRENT_FILEURL}}album/{{t.album.artist.name}} - {{t.album.name}}/cover.jpg" />
  <div class="ItemBoxContent">
    <div><a class="ItemBoxLine ItemBoxName" href="{%url 'track' t.id %}">{{t.name}}</a></div>
    <div>from album <a class="ItemBoxLine" href="{%url 'album' t.album.id %}">{{t.album.name}}</a></div>
    <div>by <a class="ItemBoxLine" href="{%url 'artist' t.album.artist.id %}">{{t.album.artist.name}}</a></div>
    <div><a class="ItemBoxLine ItemBoxFooter" href="{{t.license.url}}" target="_blank">({{t.license.short_name}})</a></div>
    <audio controls="controls" class="TrackBoxPlayer" src="{{CCTORRENT_FILEURL}}album/{{t.album.artist.name}} - {{t.album.name}}/{{t.number}} {{t.name}}.ogg" ></audio>
  </div>
</div>
{% endfor %}
</div>
{% endif %}
{% endblock %}